.impressum h1,
.impressum h2,
.impressum h3 {
  color: #0957cb;
  line-height: 1.2;
}

.impressum h1 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 36px;
}

.impressum h2 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 30px;
}

.impressum h3 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
}

.impressum p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.impressum div {
  margin: 10px 0;
}
