.impressum {
	color: #0957cb;
}

.impressum h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 62px;
}

.impressum h2 {
	margin-top: 15px;
	font-weight: 700;
	font-size: 36px;
	line-height: 47px;
}

.impressum h3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
}

.impressum p {
	font-weight: 500;
	font-size: 19px;
	line-height: 27px;
}

.impressum div {
	margin: 10px 0;
}
