.about_us_section {
	background-color: #131a32;
	color: #ffffff;
}

.about_us_logo {
	padding: 60px 0 32px 0;
}

.about_us_container {
	display: flex;
	justify-content: space-between;
}

.about_us_container p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	max-width: 440px;
}

.rf p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	max-width: 196px;
	margin: 0 104px 0 162px;
}

.icons_block a {
	color: #ffffff;
}

.icons {
	width: 25px;
	height: 25px;
	margin: 0 16px 0 0;
}

.phone {
	width: 25px;
	height: 25px;
	margin: 0 16px 0 0;
}

.contacts {
	display: flex;
	align-items: center;
	margin: 24px 0;
}
