.services_block h2 {
	text-align: center;
	margin: 100px;
	font-weight: 700;
	font-size: 48px;
}

.accent {
	color: #0957cb;
}

.services_icon {
	color: #0957cb;
	width: 72px;
	height: 72px;
}

.services_icon_container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 100px;
	margin: 100px;
}

.services_icon_container p {
	margin-top: 48px;
	max-width: 280px;
	font-weight: 500;
	font-size: 18px;
}
