@media screen and (min-width: 768px) {
  .video_block_container {
    display: flex;
  }
}
@media screen and (min-width: 1600px) {
  .video_block_container iframe {
    height: 480px;
  }
}

.video_block_info_text {
  margin-bottom: 24px;
}

@media screen and (min-width: 480px) {
  .video_block_info_text {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .video_block_info_text {
    width: 66%;
    margin-right: 48px;
    margin-bottom: 0px;
  }
}

.video_block_info_text h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
}

@media screen and (min-width: 480px) {
  .video_block_info_text h2 {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .video_block_info_text h2 {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1600px) {
  .video_block_info_text h2 {
    font-size: 48px;
  }
}

.video_block_info_text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

@media screen and (min-width: 1600px) {
  .video_block_info_text p {
    font-size: 24px;
  }
}

