.beratung_container {
	background-image: url('media/consultation.png');
	background-size: cover;
	background-position: center;
	color: white;
	padding-bottom: 200px;
}

.beratung_block h2 {
	font-weight: 700;
	font-size: 36px;
	padding-top: 184px;
}

.beratung_block p {
	font-weight: 400;
	font-size: 18px;
	margin: 20px 0;
}
