.all_catigories h2 {
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
}

.catigori {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 26px;
	margin-top: 40px;
}

.catigori button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.category_card {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
