.touren_container {
	background-color: #f3f6fb;
	padding: 100px;
	margin: 100px auto;
}

.touren_h h2 {
	text-align: center;
	margin-bottom: 80px;
	font-weight: 700;
	font-size: 48px;
}

.touren_block {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 100px;
}

.touren_block img {
	object-fit: cover;
	width: 570px;
	height: 380px;
	border-radius: 10px;
}

.touren_block h3 {
	font-weight: 700;
	font-size: 36px;
	max-width: 430px;
	margin: 36px 0 32px 0;
}

.accent {
	color: #0957cb;
}

.touren_block p {
	max-width: 430px;
	font-weight: 400;
	font-size: 16px;
	text-align: justify;
	color: #131a32;
}

.touren_block button {
	padding: 12px 46px;
	margin: 32px 0;
}
