.range_title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .range_title {
    font-size: 48px;
  }
}

.range_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .range_block {
    flex-direction: row;
    gap: 30px;
  }
}

.range_block_slick {
  width: 100%;
  filter: drop-shadow(0px 4px 20px rgba(52, 70, 131, 0.1));
}

@media screen and (min-width: 480px) {
  .range_block_slick {
    max-width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .range_block_slick {
    max-width: 370px;
  }
}

.range_block_slick img {
  object-fit: cover;

  width: 100%;
  height: 250px;
}

@media screen and (min-width: 1200px) {
  .range_block_slick img {
    width: 370px;
  }
}

.range_block_price {
  margin: 24px 0px;
}

.range_block_price h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.range_block_price p {
  color: #0957cb;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
