.nav_container {
	background-image: url('media/background.png');
	background-size: cover;
	background-position: center;
	color: white;
	padding-bottom: 500px;
}

.nav_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_menu {
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 68px;
	justify-content: space-between;
	list-style: none;
	text-transform: uppercase;
	cursor: pointer;
}

.nav_contacts h2 {
	max-width: 450px;
	font-weight: 300;
	font-size: 48px;
	margin: 200px 0 50px 0;
}

.nav_contacts p {
	max-width: 400px;
	font-weight: 200;
	font-size: 20px;
	margin-bottom: 50px;
}
