.header {
  background-color: #131a32;
}

.header_container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}

@media screen and (min-width: 768px) {
  .header_container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.contacts {
  display: block;
}

@media screen and (min-width: 480px) {
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contact_item {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 381px) and (max-width: 479px) {
  .contact_item {
    margin-left: 6px;
  }
}

@media screen and (min-width: 768px) {
  .contact_item {
    margin-left: 6px;
  }
}

.contacts_item_wrapper {
  display: flex;
  align-items: center;
}

.contacts_item_wrapper:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 480px) {
  .contacts_item_wrapper:not(:last-child) {
    margin-bottom: 0px;
  }
}

.contacts p {
  margin: 0 16px;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .contacts p {
    font-size: 16px;
  }
}

@media screen and (min-width: 381px) {
  .break {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .break {
    display: block;
  }
}

.phone {
  color: #0957cb;
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 480px) {
  .phone {
    width: 20px;
    height: 20px;
  }
}
