.crypto_section {
  background-color: #000040;
  background-image: url(./media/bitcoin.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 480px) {
  .crypto_section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .crypto_section {
    background-image: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.crypto_block {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .crypto_block {
    display: flex;
    justify-content: space-between;
  }
}

.crypto_block h2 {
  margin-bottom: 68px;
  font-size: 40px;
  font-weight: 700;
}

@media screen and (min-width: 480px) {
  .crypto_block h2 {
    margin-bottom: 80px;
    font-size: 48px;
  }
}

@media screen and (min-width: 480px) {
  .crypto_block h2 {
    margin-top: 60px;
  }
}

.crypto_block p {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  max-width: 430px;
  margin: 32px 0;
}

.crypto_block button {
  padding: 12px 46px;
}

.crypto_block img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .crypto_block img {
    display: block;
    object-fit: cover;
    width: 590px;
    height: 600px;
  }
}
