.crypto_container {
	background-color: #000040;
}

.crypto_block {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	color: #ffffff;
}

.crypto_block h2 {
	font-weight: 700;
	font-size: 36px;
	margin-top: 92px;
	max-width: 470px;
}

.crypto_block p {
	font-weight: 400;
	font-size: 16px;
	text-align: justify;
	color: #8a8d97;
	max-width: 430px;
	margin: 32px 0;
}

.crypto_block button {
	padding: 12px 46px;
	margin-bottom: 90px;
}

.crypto_block img {
	object-fit: cover;
	width: 590px;
	height: 455px;
}
