.reviews_title {
  margin-bottom: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

@media screen and (min-width: 480px) {
  .reviews_title {
    font-size: 48px;
  }
}
.reviews_images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .reviews_images {
    flex-direction: row;
    gap: 30px;
  }
}

.reviews_images img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .reviews_images img {
    width: 440px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews_images img {
    width: 370px;
  }
}
