.footer {
	background-color: #131a32;
	color: #ffffff;
}

.footer_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px 0 85px 0;
}

.footer_container p {
	font-weight: 400;
	font-size: 16px;
}

.nav_menu {
	display: flex;
	gap: 52px;
	list-style: none;
	/* text-transform: uppercase; */
	font-weight: 500;
	font-size: 16px;
}

.nav_menu li {
	cursor: pointer;
}
