.info_text h2 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #0957cb;
}

.info_text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.info_text div {
  margin: 10px 0;
}
