.info_text {
	color: #0957cb;
}

.info_text h2 {
	margin-top: 15px;
	font-weight: 700;
	font-size: 36px;
	line-height: 47px;
}

.info_text p {
	font-weight: 500;
	font-size: 19px;
	line-height: 27px;
}

.info_text div {
	margin: 10px 0;
}
