.all_catigories {
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
}

.catigori {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 26px;
	margin-top: 40px;
}

.catigories {
	display: flex;
	justify-content: space-between;
	gap: 32px;
	font-weight: 600;
	font-size: 18px;
	line-height: 130%;
	margin-top: 20px;
}

.catigories p {
	display: flex;
	justify-content: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 130%;
	margin-top: 20px;
	color: #000000;
}

.catigories a {
	text-decoration: none;
}
