.datenschutz {
	color: #0957cb;
}

.datenschutz h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 62px;
}

.datenschutz h2 {
	margin-top: 15px;
	font-weight: 700;
	font-size: 36px;
	line-height: 47px;
}

.datenschutz h3 {
	margin-top: 10px;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
}

.datenschutz p {
	font-weight: 500;
	font-size: 19px;
	line-height: 27px;
}

.datenschutz div {
	margin: 10px 0;
}
