.datenschutz h1,
.datenschutz h2,
.datenschutz h3 {
  color: #0957cb;
  line-height: 1.2;
}

.datenschutz h1 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 36px;
}

.datenschutz h2 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 30px;
}

.datenschutz h3 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
}

.datenschutz p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.datenschutz div {
  margin: 10px 0;
}
