.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('media/night-bg.jpg');
  background-size: cover;
  background-position: bottom;
  color: #ffffff;
  animation: image 6s ease-in-out infinite alternate;
  position: relative;
  /*height: calc(150vh - 358px);*/
  height: 55vh;
}

@media screen and (min-width: 768px) {
  .nav {
    height: calc(100vh - 168px);
  }
}

@keyframes image {
  0% {
    background-image: url('media/night-bg.jpg');
  }

  100% {
    background-image: url('media/day-bg.jpg');
  }
}

.headlines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nav_block {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav_block {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .nav_block {
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .nav_block {
    margin-top: 20px;
  }
}

.nav_menu a {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.nav_contacts h1 {
  max-width: 520px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 18px;
  margin-top: 36px;
  font-stretch: extra-condensed;
}

@media screen and (min-width: 390px) {
  .nav_contacts h1 {
    font-size: 32px;
  }
}


@media screen and (min-width: 480px) {
  .nav_contacts h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .nav_contacts h1 {
    font-size: 60px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1920px) {
  .nav_contacts h1 {
    font-size: 76px;
    margin-bottom: 48px;
    max-width: 800px;
  }
}

.nav_contacts p {
  max-width: 428px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 32px;
}

@media screen and (min-width: 480px) {
  .nav_contacts p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .nav_contacts p {
    font-size: 24px;
  }
}

@media screen and (min-width: 1920px) {
  .nav_contacts p {
    font-size: 32px;
    margin-bottom: 48px;
    margin-top: 96px;
  }
}

.nav_contacts button {
  width: 170px;
  height: 50px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .nav_contacts button {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .nav_contacts button {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .header_description {
    display: none;
  }
}
